/****************************************************************************************************************************/
/********************************************************z********************************************************************
	    file:  shin.css
	contents:  Template for job market websites based on Wiroy Shins job market site (http://wiroy-shin.com)
	  author:  Bruno Salcedo -- http://brunosalcedo.com
	    date:  November 2014
	 version:  2.0
****************************************************************************************************************************/
/****************************************************************************************************************************/
/*{border:1px solid;} /* All borders, for edditing purposes*/
/****************************************************************************************************************************/
/****************************************************************************************************************** general */
html {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;} 	
body{line-height: 2;font-size:100%; height: 100%; overflow-y:scroll;}
#header,#page{width:100%;max-width:960px; margin:0 auto;}
#page{position:relative;min-height: 100% ; padding:4em 0;}
*{margin:0;padding:0;}
/****************************************************************************************************************************/
/******************************************************************************************************************* header */
#header{text-align: center;font-weight: 900;}
#header *{line-height: 2em;height: 2em;white-space: nowrap;}
h1{font-size: 150%; text-transform: uppercase;letter-spacing: 10px;}
#menu{margin: 1em 0;}
#menu a{display: inline-block; margin: 0 1em; text-transform: uppercase; text-decoration: none; }
#menu select{height: 1.2em; width: 60%; margin: 0 auto; background: none; border: none; text-transform: uppercase;}
#menu select option{line-height: 1.2em; height: 1.2em; padding: 4px;}
#menu select{display: none;}
/****************************************************************************************************************************/
/***************************************************************************************************************** contents */
#contents{ max-width: 	580px; margin: 4em auto 2em; display: block; font-weight: 500;}
a{text-decoration: underline; font-weight: 900;}
#contents:after{content: ""; font-size: 80%; position: absolute; height: 2em; line-height: 2em;
	white-space: nowrap; width: 100%;bottom:3em;left: 0;text-align: center;}
h2{font-size: 120%; font-weight: 600; text-align: left; margin:35px 0 5px;}
h3{font-size: 100%; font-weight: 500; position: relative;margin:15px 0 0;text-align: left;}
h4{font-size: 75%; font-weight: 500; position: relative;margin:0 0 0;text-align: left;}
.center{text-align: center;}
p,ul{text-align: justify; padding: 0 2em;}
h5{font-size: 100%; font-weight: 500; text-align: center; margin:0 0 0;}
/****************************************************************************************************************************/
/*********************************************************************************************************** responsiveness */
@media (max-width: 644px){#contents{margin: 4em 2em;}}
@media (max-width: 520px){
	#header #tagline,#header h1{height: auto; line-height: 1.5; white-space: normal; padding: 0 2em;}
	#page{padding-top:0;}
	h1{font-size: 150%;letter-spacing: 5px;margin: 1em 0;}
	p{text-align: justify; padding: 0 1em;}
	ul{text-align: left;}
}
@media (max-width: 420px){
	p{text-align: left;}
	#menu a{display: none;}
	#menu select{display: block;}
	#contents:after{width: auto;white-space: normal;text-align: center; width: 100%;}
}
/****************************************************************************************************************************/
/****************************************************************  End ******************************************************/