/***********************************************************************************************************************/
/***********************************************************************************************************************
	    file:  style.css
	contents:  Simple style for job market websites
	  author:  Bruno Salcedo
	    date:  November 2014
	 version:  2.0
***********************************************************************************************************************/
/***********************************************************************************************************************/
/* Legend for the bottom of the page*/
#contents:after{content: ""}
/***********************************************************************************************************************/
/**************************************************************** font *************************************************/
/* To change the font go to google.com/fonts and follow the instructions*/
body{ font-family: 'Lato', sans-serif; font-weight: 500;} /* Body*/
h1 {font-weight: 700;} /* Title */
/***********************************************************************************************************************/
/************************************************************** color ***************************************************/
/* 3 color scheme: #777 (grey) for links and menu, #68a for links, tomato for highlights*/
a,#tagline{color: #68a;}
#menu a,a:hover,option{color: #777;}
select, #menu #current,#menu a:hover{color: #f97;}


